<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout/layout :: layout (~{::customHead}, ~{::mainContents})}">

<!-- Add contents into head tag -->
<th:block th:fragment="customHead">
  <title>demo page</title>
</th:block>

<!-- Add contents into body tag -->
<th:block th:fragment="mainContents">
  <h1>This is the demo page.</h1>

  <th:block th:replace="~{pages/demo/greeting/greeting :: greeting(greeting, ${view.greeting})}"></th:block>
</th:block>

</html>