<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (customHead, mainContents, scripts)">

<head>
    <!-- [START] common settings -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- [END] common settings -->
    <th:block th:replace="${customHead}"></th:block>
</head>

<body>
    <div class="main-contents">
        <th:block th:replace="${mainContents}">mainContents</th:block>
    </div>
    <th:block th:replace="${scripts}">scripts</th:block>
</body>

</html>