<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/common/index :: layout (~{::customHead}, ~{::mainContents}, ~{::scripts})}">

<!-- Add contents into head tag -->
<th:block th:fragment="customHead">
  <link rel="stylesheet" th:href="@{/pages/sample/index.css}">
  <title>sample page</title>
</th:block>

<!-- Add contents into body tag -->
<th:block th:fragment="mainContents">
  <h1>This is the sample page.</h1>

  <th:block th:replace="~{pages/sample/greeting/greeting :: greeting(greeting, ${view.greeting})}"></th:block>
</th:block>

<th:block th:fragment="scripts">
  <script defer th:src="@{/pages/sample/index.js}"></script>
</th:block>

</html>